---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="About Me"
	description="a little about john ragozzine"
	image=""
>
	<h1 class="title">Hi, I'm John!</h1>
	<p>
		I grew up in Connecticut, but not the one you are picturing. Think working class Long Island mixed with the South Boston characters of <em>Good Will Hunting</em>. I was a smart, shy kid brought up by a stable, funny, big Italian-American family. Pretty sure I was asked, "Hey, how youse doin?" daily.
	</p>

	<p class="mt-4">
		After a childhood of puns, 80s TV, and tromping around the woods behind our house with our dog, I attended Marist College—mostly due to the campus's amazing view of the Hudson River—eventually earning a BA in English with unofficial minors in Philosophy and Theater.
	</p>

	<p class="mt-4">
	  After an early 2000s stint in textbook publishing as well as teaching, I started my career in technology by building WordPress websites for nonprofits in Maine. Through self-teaching, I moved up in the web development world, eventually being promoted to a UX/UI Development Manager at a large financial company.
  </p>

	<p class="mt-4">
		Since the early 2010s, I have been working in the agency world, exclusively for fully remote organizations, managing projects and people.
	</p>
</Layout>

